# you must rename the sample.env to .env
PORT=3000
DATABASE_CONNECTION_NAME=dev

JWTSECRET=changeMe  
JWT_EXPIRATION_TIME=1h

SMTP_URL=smtp.dronfies.com
SMTP_USERNAME=prueba@dronfies.com
SMTP_PASSWORD=xxxxxxxxxxxx
SMTP_PORT=587
SMTP_SECURE=false
SMTP_SELF_SIGNED=true

ADMIN_EMAIL=admin1@dronfies.com,admin2@dronfies.com

FRONT_END_URL=https://localhost/
BACKEND_URL=https://localhost:3000/


TEST_TIMEOUT=5000